<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="styles/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message {font-size: 1.3em; font-weight: bold;}
      .messagered {background-color: red;}
      .messagegreen{background-color: lightgreen;}
      .textborder {}
      .textborderred {border-style: solid; border-color: red;}
      .textbordergreen {border-style: solid; border-color: lightgreen;}
    </style>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="dishes"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control textborder{{color}}">
             <span>Empty items not considered</span>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkDishes();">Check If Too Much</button>
         </div>
         <div class="form-group message message{{color}}">
           <!-- Your message can go here. -->
           {{messageError}}
         </div>
   </div>

</body>
</html>
